{% extends 'base.html' %}
{% include 'navbar.html' %}
{%  load static %}
{% load staticfiles %}

{% block content %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<style>

    .list-group{
 margin-top:90px;
 padding:0px;

    }
    .panel{
 margin-top:90px;

    }
.list-group{
 margin-bottom:90px;
}
@font-face {
    font-family: 'f2';
    src: url('{% static '/fonts/Almudid.ttf' %}');
    font-weight: 500;
    font-style: normal;
    font-size:9pt;
}
table tr td {
font-family:'f2';

}
</style>
<html>
<body>
  <a href="#" class="list-group-item active">بيانات تفصيلية</a>
  <div class="list-group">
  


    <table class="table">
      <tbody>
        <tr>
            <td >  {{ retired_pationt_res.patient_name }}</td>
          <td>اسم الموظف</td>
        </tr>
        <tr>
          <td>{{ retired_pationt_res.job_title  }}</td>
          <td>الدرجة الوظيفية</td>
        </tr>
        <tr>
          <td>{{ retired_pationt_res.patient_age  }}</td>
          <td>السن </td>
        </tr>
        <tr>
          <td>{{ retired_pationt_res.medical_number  }}</td>
          <td>الرقم الطبى</td>
        </tr>
        <tr>
          <td>{{ retired_pationt_res.notes_number  }}</td>
          <td>رقم الدفتر</td>
        </tr>
        <tr>
          <td>{{ retired_pationt_res.followed_clinic  }}</td>
          <td>العيادة التابعة </td>
        </tr>
        <tr>
          <td>{{ retired_pationt_res.timestamp  }}</td>
          <td>وقت الاضافة</td>
        </tr>
        <tr>
          <td>{{ retired_pationt_res.ip  }}</td>
          <td>عنوان الجاز</td>
        </tr>
        <tr>
          <td>{{ retired_pationt_res.publisher  }}</td>
          <td>المستخدم </td>
        </tr>


<tr><td><a href="{{request.META.HTTP_REFERER}}"><button type="button" class="btn btn-info "><p> الغــــــاء</p></button></a>||<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"> <p> حـــــذف</p>  </button></td></tr>

  </tbody>
</table>

  </div>
















<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">تاكيد حذف البيانات</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        سيتم حذف  الموظف المتقاعد من قاعدة البيانات؟
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
        <a href="/app1/{{retired_pationt_res.id}}/remove_retired_pationt/"> <button type="button" class="btn btn-danger">احــــذف</button></a>

      </div>
    </div>
  </div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>ghj
      <div class="modal-body">
        the modeal bodyhjhhjfgjhfghj
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



</body>
</html>


<!--
  <div class="list-group">
  <div class="list-group-item">{{ pc_res.problem_desc }}</div>
  <div class="list-group-item"> {{ pc_res.problem_date }}</div>
  <div class="list-group-item">{{ pc_res.user_fullname}}</div>
  <div class="list-group-item">{{ pc_res.user_sector}}</div>
  <div class="list-group-item">{{ pc_res.pc_type }}</div>


-->


   {% endblock %}


