
{% include 'navbar.html' %}
{%  load static %}


{% block content %}


<style>

    .alert{
 margin-top: 200px;

    }

@font-face {
    font-family: 'f2';
    src: url('{% static '/fonts/myfont.otf' %}');
    font-weight: 500;
    font-style: normal;
    font-size:22pt;
}
.ss{
font-family:'f2';

}

</style>
<html>
<body>
<div class="alert alert-success ss" role="alert"><h3>



    تمت العملية  بنجاح 
  {% with t=request.META.HTTP_REFERER %}
  
    <a href="{% url go %}">اضغط هنا للعودة</a>
    
    {% endwith %}
    او 
    <a href="{% url 'main'%}">
    اضغط هنا
    </a>
     للصفحه الرئيسيه
</h3>
</div>
   {% endblock %}
</body>
</html>

