
{% include 'navbar.html' %}


{% block content %}



<style>

    .bb{
 margin-top:90px;

}
.cc{
 margin-top:0px;
 margin-bottom: 90px;
}
table{
    font-size: 9px;
}


</style>
<html>
<body>


<ul class="nav nav-tabs bb " id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">پيانات تڤصيليه عن الطاپعات</a>
  </li>

</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"><div class="list-group">
      
<table class="table table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th>مسلسل</th>
      <th>اسم المستخدم</th>
      <th>اسم القطاع</th>
      <th>الفرع</th>
      <th>نوع الطابعه</th>
      <th>التوصيل المدعوم</th>
      <th>موديل الطابعه</th>
      <th>رقم الحبر الليزر</th>
      <th>-رقم الحبر الاسود</th>
      <th>رقم الحبر الالوان</th>
      <th>ملاحظات</th>
      <th> الوقت</th>
      <th>بواسطة</th>




    </tr>
  </thead>
  <tbody>
  {% for obj in prints_list %}

   <tr> 
   <th scope="row"> {{ obj.id }}</th>
   <td>  {{ obj.user_fullname }} </td>
   <td>  {{ obj.user_sector }}  </td>
   <td>  {{ obj.bransh }}  </td>
   <td>  {{ obj.printer_type }}  </td>
   <td>  {{ obj.conn_type }}  </td>
   <td>  {{ obj.printer_model }}  </td>
   <td>  {{ obj.cartridge_number }}  </td>
   <td>  {{ obj.black_number }}  </td>
   <td>  {{ obj.color_number }}  </td>
   <td>  {{ obj.notes }}  </td>
   <td>  {{ obj.timestamp }}  </td>
   <td>  {{ obj.publisher }}  </td>
     </tr>
   </tr>

  {% endfor %}
  </tbody>
</table>


<ul class="pagination justify-content-center cc">
    <li class="page-item ">
        {% if prints_list.has_previous %}
            <a class="page-link"  href="?page={{ prints_list.previous_page_number }}">previous</a>
        {% endif %}
    </li>   
 <li class="page-item "><a class="page-link" >Page</a></li>
 <li class="page-item ">

  <a class="page-link active" href="#">  {{ prints_list.number }} </a> </li> <li class="page-item "> <a class="page-link" >of</a></li>  <li class="page-item "><a class="page-link" href="?page={{  prints_list.paginator.num_pages }}">{{ prints_list.paginator.num_pages }}.</a>
    </li>
    <li class="page-item">
        {% if prints_list.has_next %}
            <a class="page-link" href="?page={{ prints_list.next_page_number }}">next</a>
        {% endif %}
    </li>
</ul>













</div></div>
































    <div class="tab-pane fade" id="print" role="tabpanel" aria-labelledby="print-tab">...</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
















</div>










   {% endblock %}
</body>
</html>

