

{% block content %}


<style>

    .nav{
 margin-top: 200px;

    }

</style>
<html>
<body>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>

f
f
f

f
f
ff
f
f

f
f

f
f
f
f
f
f

f
   {% endblock %}
</body>
</html>

