 {% extends 'base.html' %}
{% include 'navbar.html' %}
{%  load static %}
{% load staticfiles %}

{% block content %}
<style>

    .list-group{
 margin-top:90px;
 padding:0px;

    }
    .panel{
 margin-top:90px;

    }

</style>
<html>
<body>

<div class="row justify-content-md-center">
 <div class="list-group col-md-8 justify-content-md-center">
  <a href="#" class="list-group-item active">معلومات تفصيليه عن المشكله</a>


    <table class="table">
  <tbody>
    <tr class="table-info">
      <td >اسم المستخدم</td>
      <td >{{ instance.user_fullname}}</td>
    </tr>
        <tr class="table-light">
      <td>القطاع التابع له</td>
      <td>{{ instance.user_sector}}</td>
    </tr>
      <tr class="table-info">
      <td>وصف المشكله</td>
      <td>{{ instance.problem_desc}}</td>
    </tr>
      <tr class="">
      <td>نوع الطابعه</td>
      <td>{{ instance.printer_type}}</td>
    </tr>
      <tr  class="table-info">
      <td>تاريخ المشكله</td>
      <td>{{ instance.problem_date}}</td>
    </tr>
        <tr >
      <td >address</td>
      <td>{{ instance.ip}}</td>
     </tr>
      <tr  class="table-info">
      <td>الناشر</td>
      <td>{{ instance.publisher}}</td>
    </tr>
  {% if instance.status %}
  <tr><td><a href="/app1/{{ instance.id }}/solved1/"> <button type="button" class="btn btn-danger">تم حل المشكله</button></a></td></tr>
   {% else %}
                <tr class="table-light" >
      <td >تم الاغلاق بواسطة</td>
      <td>{{ instance.closed_by}}</td>
     </tr>
            <tr class="table-info" >
      <td >تاريخ الاغلاق</td>
      <td>{{ instance.close_date}}</td>
     </tr>
<tr><td><a href="#" class="disabled"> <button type="button" class="btn btn-primary disabled">تم اغلاق المشكله   </button></a></td></tr>
{% endif %}



  </tbody>
</table>

  </div>
</div>

</body>
</html>





   {% endblock %}


