
{% include 'navbar.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}


<style>

    .alert{
 margin-top: 200px;

    }
    .rounded{
 margin-top: 80px;

    }

</style>
<html>
<body>
<center>
    <img class="rounded" src='{% static "imge/rest.png"  %}' alt="Generic placeholder image"  width="140" height="140">
          </center>
<div class="alert alert-danger" role="alert">

<CENTER><H1><P>لا يمكن الاضافة  تم التسجيل بالفعل</P></H1></CENTER>

</div>
   {% endblock %}
</body>
</html>

