
{% extends 'base.html' %}
{% include 'navbar.html' %}
{% include 'footer.html' %}
{%  load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Autocomplete - Default functionality</title>
<!--<link rel="stylesheet" href="{% static 'css/itlst.css' %}"  rel="stylesheet">-->
<!--<script type="text/javascript" src="{% static 'js/itlst.js' %}"></script>-->
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}"  rel="stylesheet">
<script type="text/javascript" src="{% static 'js/jquery-1.12.4.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
<script src='{% static "js/moment.min.js"  %}'></script>
<script src='{% static "js/bootstrap-datetimepicker.js"  %}'></script>
<link href='{% static   "css/bootstrap-datetimepicker.min.css"  %}' rel="stylesheet">
<link href='{% static   "css/bootstrap-datetimepicker.css"  %}' rel="stylesheet">
<script type="text/javascript">
$(function () {
    $('.datepicker').datetimepicker(
    {
        format: 'YYYY-MM-DD HH:mm:ss',
        sideBySide: true
    }
    );
});
</script>
<script type="text/javascript">
       function addtext1() {
	var newtext = '\n'+document.getElementById('updatetext').value;
	document.myform.id_last_case_update.value += newtext;
}

        $(document).ready(function() {
       $('#div_id_last_case_update').after('<input type="button"  class="btn btn-success btn-lg" id="btn1" value="اضاڤة پيانات"  onClick="addtext1();"/>');
       $('#btn1').after('<br/><textarea type="textarea" class="form-control"  id="updatetext"   /><br/>');

        });
</script>
<style>
@font-face {
    font-family: 'f2';
    src: url('{% static '/fonts/Almudid.ttf' %}');
    font-weight: 500;
    font-style: normal;
    font-size:9pt;
}
body form{
font-family:'f2';
    font-size:13pt;


}
    .bb{
 margin-top:90px;

}
.cc{
 margin-top:0px;
 margin-bottom: 90px;
}
@font-face {
    font-family: 'fall';
    src: url('{% static '/fonts/ext/LateefRegOT.ttf' %}');
    font-weight: 10;
    font-style: normal;
    font-size:16pt;
}
form input[type=text]{
    font-family:'f2';
    font-size:12pt;
    font-style: bold;

}
form .tarea{
    font-family:'f2';
    font-size:15pt;
    font-style: bold;

}
form .select{
    font-family:'f2';
    font-size:12px;
    font-style: bold;
    font-weight: 19;
    height:3em;

}
.form-control{
    font-family:'f2';
    font-size:12pt;
    font-style: bold;
}

</style>
<html>

<div class="container justify-content-center">
<div class="container justify-content-end" style="margin-bottom: 0;"><img  src="{% static 'imge/COST.jpeg'%}"  width="270" height="140" ></div>
 <center style="background-color: mediumseagreen;"     >نموذچ إضافة التكاليف</center>

<div class="row align-items-center justify-content-center">
 <div class="col-md-8 bg-faded" style="background:#e0e0e0">
 <form method='POST'  action= " ">{% csrf_token %}
<div class="row">
    <div class="col-md-6 "> {{ form0.medical_number|as_crispy_field }} </div>
    <div class="col-md-6 "> {{ form0.patient_name|as_crispy_field }} </div>
</div>    
<div class="row">
    <div class="col-md-6 "> {{ form1.medic1_cost|as_crispy_field }} </div>
    <div class="col-md-6 "> {{ form0.medic1_name|as_crispy_field }} </div>
</div> 
{% if res1.medic2_name %}
<div class="row">
    <div class="col-md-6 "> {{ form1.medic2_cost|as_crispy_field }} </div>
    <div class="col-md-6 "> {{ form0.medic2_name|as_crispy_field }} </div>
</div> 
   {% endif %}

{% if res1.medic3_name %}
<div class="row">
    <div class="col-md-6 "> {{ form1.medic3_cost|as_crispy_field }} </div>
    <div class="col-md-6 "> {{ form0.medic3_name|as_crispy_field }} </div>
</div> 
   {% endif %}
{% if res1.medic4_name %}
   <div class="row">
       <div class="col-md-6 "> {{ form1.medic4_cost|as_crispy_field }} </div>
       <div class="col-md-6 "> {{ form0.medic4_name|as_crispy_field }} </div>
   </div> 
      {% endif %}   
 {% if res1.medic5_name %}
      <div class="row">
          <div class="col-md-6 "> {{ form1.medic5_cost|as_crispy_field }} </div>
          <div class="col-md-6 "> {{ form0.medic5_name|as_crispy_field }} </div>
      </div> 
     {% endif %} 
      {% if res1.medic6_name %}
<div class="row">
    <div class="col-md-6 "> {{ form1.medic6_cost|as_crispy_field }} </div>
    <div class="col-md-6 "> {{ form0.medic6_name|as_crispy_field }} </div>
</div> 
   {% endif %}

   {% if res1.medic7_name %}
   <div class="row">
       <div class="col-md-6 "> {{ form1.medic7_cost|as_crispy_field }} </div>
       <div class="col-md-6 "> {{ form0.medic7_name|as_crispy_field }} </div>
   </div> 
      {% endif %}
      

      {% if res1.medic8_name %}
      <div class="row">
          <div class="col-md-6 "> {{ form1.medic8_cost|as_crispy_field }} </div>
          <div class="col-md-6 "> {{ form0.medic8_name|as_crispy_field }} </div>
      </div> 
         {% endif %}
      
   {% if res1.medic9_name %}
   <div class="row">
       <div class="col-md-6 "> {{ form1.medic9_cost|as_crispy_field }} </div>
       <div class="col-md-6 "> {{ form0.medic9_name|as_crispy_field }} </div>
   </div> 
      {% endif %}
      
   {% if res1.medic10_name %}
   <div class="row">
       <div class="col-md-6 "> {{ form1.medic10_cost|as_crispy_field }} </div>
       <div class="col-md-6 "> {{ form0.medic10_name|as_crispy_field }} </div>
   </div> 
      {% endif %}
      
   {% if res1.medic11_name %}
   <div class="row">
       <div class="col-md-6 "> {{ form1.medic11_cost|as_crispy_field }} </div>
       <div class="col-md-6 "> {{ form0.medic11_name|as_crispy_field }} </div>
   </div> 
      {% endif %}
      
   {% if res1.medic12_name %}
   <div class="row">
       <div class="col-md-6 "> {{ form1.medic12_cost|as_crispy_field }} </div>
       <div class="col-md-6 "> {{ form0.medic12_name|as_crispy_field }} </div>
   </div> 
      {% endif %}
      
   {% if res1.medic13_name %}
   <div class="row">
       <div class="col-md-6 "> {{ form1.medic13_cost|as_crispy_field }} </div>
       <div class="col-md-6 "> {{ form0.medic13_name|as_crispy_field }} </div>
   </div> 
      {% endif %}
      
   {% if res1.medic14_name %}
   <div class="row">
       <div class="col-md-6 "> {{ form1.medic14_cost|as_crispy_field }} </div>
       <div class="col-md-6 "> {{ form0.medic14_name|as_crispy_field }} </div>
   </div> 
      {% endif %}
      
   {% if res1.medic15_name %}
   <div class="row">
       <div class="col-md-6 "> {{ form1.medic15_cost|as_crispy_field }} </div>
       <div class="col-md-6 "> {{ form0.medic15_name|as_crispy_field }} </div>
   </div> 
      {% endif %}
      
   {% if res1.medic16_name %}
   <div class="row">
       <div class="col-md-6 "> {{ form1.medic16_cost|as_crispy_field }} </div>
       <div class="col-md-6 "> {{ form0.medic16_name|as_crispy_field }} </div>
   </div> 
      {% endif %}
      
   {% if res1.medic17_name %}
   <div class="row">
       <div class="col-md-6 "> {{ form1.medic17_cost|as_crispy_field }} </div>
       <div class="col-md-6 "> {{ form0.medic17_name|as_crispy_field }} </div>
   </div> 
      {% endif %}
 
      {% if res1.medic18_name %}
      <div class="row">
          <div class="col-md-6 "> {{ form1.medic18_cost|as_crispy_field }} </div>
          <div class="col-md-6 "> {{ form0.medic18_name|as_crispy_field }} </div>
      </div> 
         {% endif %}
      
   {% if res1.medic19_name %}
   <div class="row">
       <div class="col-md-6 "> {{ form1.medic19_cost|as_crispy_field }} </div>
       <div class="col-md-6 "> {{ form0.medic19_name|as_crispy_field }} </div>
   </div> 
      {% endif %}
      
   {% if res1.medic20_name %}
   <div class="row">
       <div class="col-md-6 "> {{ form1.medic20_cost|as_crispy_field }} </div>
       <div class="col-md-6 "> {{ form0.medic20_name|as_crispy_field }} </div>
   </div> 
      {% endif %}
                    
   
   
   <input class= 'btn btn-primary btn-lg'  style="font-size: large;color:cornsilk; "  value="إعادة ضبط " type=reset >
 <b><input class= 'btn btn-primary btn-lg lead' value="تحديث پيــانات التكاليف" type=submit ></b>

</form>

</div></div>
</div>
<hr class="my-6">


</body>
</html>


   {% endblock %}


