{% extends 'base.html' %}
{% include 'navbar.html' %}
{% include 'footer.html' %}
{%  load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content %}



<script type="text/javascript">
  window.onload = function(){ 
  
  
  
      document.getElementById("btnPrint").onclick = function () {
          printElement(document.getElementById("printThis"));
      }
      
      function printElement(elem) {
          var domClone = elem.cloneNode(true);
          
          var $printSection = document.getElementById("printSection");
          
          if (!$printSection) {
              var $printSection = document.createElement("div");
              $printSection.id = "printSection";
              document.body.appendChild($printSection);
          }
          
          $printSection.innerHTML = "";
          $printSection.appendChild(domClone);
          window.print();
      }
  };
      
      
      </script>

<style>
.cc{
margin-top:100px;
margin-bottom:70px;
}
.vv{
background-color:#004C99

}
.v{
background-color:#004C99

}
@media print {

.noPrint {display:none;}

}
.pa{
padding:5px}

.c{
font-family:'f2';
font-size:10pt;
color:black;
}



.x{
    background-color: palegreen;
    padding: 6pt;
}

.t{
    background-color: red;
}

.td{
    align:right;
}
@media print{

.container{
    width:auto;
    margin-top: 80;

}

}



@media screen {
  #printSection {
      display: none;
  }
}

@media print {
  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:20;
    top:20;
    right:20;
    bottom:20 ;
  }
}



</style>
<div class="list-group-item justify-content-center"  >إستعلامات السجلات الطبية</div>

<br/>




medicalcodeis {{ emp_code}}
<div class="container p-0 my-0" id="printThis" >
  <div class="row justify-content-center " >
      <div class="col-md-8">
        <table>
      <tr> 
        <td><img class=" " src='{% static "imge/Logo1.bmp"  %}' alt="Generic placeholder image" width="60" height="90"></td>
        <td>           <h4 class="modal-title" id="gridSystemModalLabel"> الشركة المصرية العامة للسياحة والفنادق</h4>
      </td>

      </tr>
      </table>
     </div>
<div class="col-md-4 justify-content-end">
</div>
        </div>
        <div class="row justify-content-center " >

          <div class="col-md-2 "> <img src='{% static "imge/unk.jpeg"  %}' alt="Generic placeholder imavge" width="150" height="170">
          </div>
          <div class="col-md-4">              <hr/> </div>
          <div class="col-md-6 ">
            
            <div class="list-group justify-content-center  " >
               <center> <a href="#" class="list-group-item  justify-content-center ">تحويل طبى    </a></center>
                           
                  <table class="table">
                <tbody>
                  <tr>
                    <td  > {{ med1_report.patient_name  }} </td>
                  <td align="right">الاسم </td>
                </tr>
                <tr>

                  <td>{{ med1_report.medical_number  }}</td>
                    <td align="right">  الرقم الطبى</td> 
                  </tr>


                  <tr>
                    <td>{{ med1_report.auth_doc  }}</td>
                   <td align="right"> طبيب العيادة</td>
                  </tr>
                  <tr>
                  <tr>
                    <td>{{ med1_report.timestamp  }}</td>
                   <td align="right">  التـــــاريخ</td>
                  </tr>

                  <tr>
                    {% if med1_report.to_lab %}
                    <td>{{ med1_report.to_lab  }} </td>
                    <td align="right"> التحويل لمعمل</td>

                    {% elif med1_report.to_clinic %}
                    <td>{{ med1_report.to_clinic  }} </td>
                    <td align="right"> التحويل لعيادة خارجية</td> 

                    {% elif med1_report.to_hospital %}
                    <td>{{ med1_report.to_hospital  }} </td>
                    <td align="right">التحويل لمستشفى </td> 
                    {% endif %}
                  </tr>
                  <tr>
                    <td>{{ med1_report.rcvd_service  }}</td>
                   <td align="right">  نوع الخدمة بالتحويل</td>
                  
                  </tr>
                  

              



              
                   
              
                  
              
                 
              
              
              <tr>
                <td>            
                  <a class="btn btn-primary btn-lg noPrint" href="{{   request.META.HTTP_REFERER   }}"style="font-size: large;color:cornsilk; ">إلغـــــــأء</a>

                  <button id="btnPrint" type="button" class="btn btn-success btn-lg noPrint"style="font-size: large;color:cornsilk; ">  طباعـــــة    </button>
                
                </td>
              </tr>
              
                </tbody>
              </table>


                </div>
              







          </div>
        </div>
      <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->


</div>

{%  endblock  %}
